
  .events-main-content {
    flex-grow: 1;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
  }
 
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
 
  .title {
    font-size: 24px;
    margin: 0;
  }
 
 
 
  .registration-table {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    border-collapse: collapse;
  }
 
  .registration-table th,
  .registration-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
 
  .registration-table th {
    background-color: #01a9b4;
    color: white;
  }
 
  .status {
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
  }
 
  .status.initiated {
    background-color: #d1db48;
  }
 
  .status.rejected {
    background-color: #e94c4c;
  }
 
  .status.approved {
    background-color: #4cae4c;
  }
 
  .view-icon {
    font-size: 18px;
    cursor: pointer;
  }
