
.status-main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
}

header {
    text-align: left;
    padding: 20px;
    color: #333;
}

header h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.status-table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #51b9c8;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d1ecf1;
}

.status.approved {
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.status.rejected {
    background-color: #dc3545;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}
.status.remarks{
    background-color: #9d9898;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}
